<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= restaurant.name %></title>
</head>
<body>
  <%- include('./partials/nav') %>
  
  <h1><%= restaurant.name %></h1>
  
  <% if (restaurant.isOpen) { %>
    <p>Yes we are open!</p>
  <% } else { %>
    <p>Sorry, we are closed.</p>
  <% } %>
  
  <p><%= restaurant.address %></p>
  <p><%= restaurant.phone %></p>
</body>
</html>